body {
	margin: 0px 0px 0px 9px; padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
p {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
td {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
select {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
input {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
textarea {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
ul {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
ol {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
li {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
th {
	text-align: left;
}
sup {
	font-size: 10px;
}
pre {
	color: rgb(0, 0, 0); font-family: Courier, fixed-width; font-weight: normal;
}
em {
	font-style: italic;
}
h1 {
	margin: 8px 0px 0px; color: rgb(0, 0, 0); font-family: "Arial Narrow", sans-serif; font-size: 22px;
}
h2 {
	margin: 6px 0px 0px; color: rgb(0, 0, 0); font-size: 18px;
}
h3 {
	margin: 4px 0px 0px; color: rgb(0, 0, 0); font-size: 12px;
}
h4 {
	margin: 2px 0px;
}
h2.alt {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 5px; border-bottom-style: solid;
}
h2.hw {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 5px; border-bottom-style: solid;
}
.hw h2 {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 5px; border-bottom-style: solid;
}
.alt h2 {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 5px; border-bottom-style: solid;
}
h2.sw {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(255, 187, 0); border-bottom-width: 5px; border-bottom-style: solid;
}
.sw h2 {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(255, 187, 0); border-bottom-width: 5px; border-bottom-style: solid;
}
h2.generic {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 5px; border-bottom-style: solid;
}
h2.assistance {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 5px; border-bottom-style: solid;
}
h2.distinct {
	margin: 2px 0px 3px; padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 5px; border-bottom-style: solid;
}
h3.hw {
	padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 10px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 1px; border-bottom-style: solid;
}
h3.sw {
	padding: 4px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 10px; border-bottom-color: rgb(255, 187, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
caption {
	padding: 3px; text-align: left; font-weight: bold;
}
form {
	margin: 0px; padding: 0px;
}
#pagearea ul {
	margin: 10px 0px; padding: 0px; list-style-type: none;
}
#pagearea ul li {
	background: url("/images/global/us/bullet_nopad.gif") no-repeat 3px -1px; line-height: 1.2; padding-left: 14px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-bottom: 6px;
}
#pagearea ul li ul {
	margin: 5px 0px;
}
#pagearea ul li ul li {
	background: url("/images/global/us/bullet_sub.gif") no-repeat 3px -3px;
}
#pagearea ul li ul li ul li {
	background: url("/images/global/us/bullet_subsub.gif") no-repeat 3px -3px;
}
#pagearea ul li ol li {
	background-image: none;
}
#pagearea ul li ul li ol li {
	background-image: none;
}
a:link {
	color: rgb(6, 95, 163); text-decoration: none;
}
a:visited {
	color: rgb(136, 68, 136); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#hierarchynavigation {
	display: none;
}
#search {
	display: none;
}
#sitenavigation {
	display: none;
}
#utilityBarRight {
	display: none;
}
#breadcrumb {
	display: none;
}
#locale {
	display: none;
}
body {
	margin: 0px; padding: 0px;
}
#wrapper {
	width: 100%;
}
#bodyarea {
	width: 650px;
}
#contentarea #amp-nav a {
	display: none;
}
#contentarea #amp-nav ul li {
	display: none;
}
#contentarea #amp-nav ul li.on a {
	padding: 5px 15px 4px 6px;
}
#addtocart {
	display: none;
}
#requestquote {
	display: none;
}
#addToPartsList {
	display: none;
}
.areaclosed {
	display: block; page-break-before: always;
}
#contentarea .content {
	width: 552px;
}
#contentarea .content h3 {
	clear: both;
}
.ltbright#contentarea .content {
	width: 362px; float: left;
}
.ltbleft#contentarea .content {
	width: 362px; float: left;
}
.ltbleft#contentarea .content {
	margin-left: 15px;
}
.copyright {
	display: block;
}
#galleryarea {
	margin: 0px 0px 10px 10px; padding: 10px; width: 274px; float: right; background-color: rgb(242, 242, 242);
}
.divider {
	padding-top: 5px; margin-top: 5px; border-top-color: rgb(102, 102, 102); border-top-width: 1px; border-top-style: solid;
}
.pullquote {
	padding: 20px; border-bottom-color: rgb(6, 95, 163); border-bottom-width: 1px; border-bottom-style: solid;
}
.pullquote p {
	margin: 0px; padding: 0px; color: rgb(6, 95, 163); font-family: "Arial Narrow", sans-serif; font-size: 22px;
}
.imagelink {
	text-align: right;
}
.docdetails a {
	display: none;
}
.browseall {
	display: none;
}
.authorinfo {
	line-height: 1.5;
}
.document #contentarea .content {
	width: 752px;
}
